@model Book

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <img src="~/images/csharpInDepth.jpg" alt="C# In Depth" height="250" width="250" />
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>First Title</h2>
            One of three columns
        </div>
        <div class="col-sm">
            <h2>First Title</h2>
            One of three columns
        </div>
        <div class="col-sm">
            <h2>First Title</h2>
            One of three columns
        </div>
    </div>
</div>

